<% # //= depend_on_asset "default_comic.jpg" %>
<% # //= depend_on_asset "wallpaper.jpg" %>

<!DOCTYPE html>
<html>
<head>
  <title>Editors And Writers</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css" rel="stylesheet" >
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->

<link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
<script src="//assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>
<script>ZiggeoApi.token = "3b04eecffae647204bfdd4f545f7686e";</script>
</head>

<body>
  <%= link_to image_tag("/assets/default_comic.jpg", alt: "Logo"), '/', class: "brand-logo left hide-on-med-and-down", id: "logo-container" %>
  <header class="navbar-wrapper container">
    <nav class="right hide-on-small-only grey darken-2" role="navigation">
      <div class="nav-wrapper container">
        <ul class="right hide-on-med-and-down">
          <% if session[:alter_ego] %>
            <li class="logoutClick white-text"><%= link_to "Log Out", "logout" %></li>
          <% else %>
            <li class="signUpClick white-text"><a>Sign Up</a></li>
            <li class="loginClick white-text"><a>Log In</a></li>
          <% end %>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <% if session[:alter_ego] %>
            <li class="logoutClick white-text"><%= link_to "Log Out", "logout" %></li>
          <% else %>
            <li class="signUpClick white-text"><a>Sign Up</a></li>
            <li class="loginClick white-text"><a>Log In</a></li>
          <% end %>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </header>

  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center"><a href="http://localhost:3000" class="black-text">Editors and Writers</a></h1>
      <% if session[:alter_ego] == "" || session[:alter_ego] == nil %>
        <h2 class="header center">~welcome~</h2>
        <div class="row center">
          <h5 class="header col s12 light">Where editors and writers can celebrate comics and creativity</h5>
        </div>
        <div class="row center signUpClick">
          <a class="signUpClick btn-large waves-effect waves-light">Join Us</a>
      </div>
      <% end %>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <footer class="page-footer grey darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s6">
          <nav class="grey darken-2">
            <ul class="white-text">
              <li class="footer-list"><%= link_to "How this works", "help" %></li>
              <li class="footer-list"><%= link_to "EAW origin story", "abouteaw" %></li>
            </ul>
          </nav>
        </div>
        <nav class="col l5 s4 offset-s1 grey darken-2">
          <ul class="white-text">
            <% if session[:alter_ego] %>
              <li class="footer-list"><%= link_to "Log out", "logout" %></li>
            <% else %>
            <li><a class="footer-list signUpClick">Sign up</a> or <a class="footer-list loginClick">Log in</a></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <small>
          A <%= link_to "Thing to Do", "http://www.thingtodo.today" %> production, donated to the comics community with love. <%= link_to "Contact us", "http://www.thingtodo.today/contactus" %> to check us out.
        </small>
      </div>
    </div>
  </footer>
  <script>
        ZiggeoApi.Events.on("submitted", function (data) {
            alert("The video with token " + data.video.token + " has been submitted!");
        });
  </script>
  <script>
        ZiggeoApi.Videos.source('b48b9ae32d173da152da7c19570a1e4a')
  </script><!--
  <script>
          ZiggeoApi.Videos.index({}, {
              success: function (args, videos) {
                for (var i = 0; i < videos.length; ++i)
                  $("body").append("<ziggeo ziggeo-video='" + videos[i].token + "'></ziggeo>");
              }
          });
  </script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</body>
</html>
